@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.shimmer-glow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: shimmer 2s linear infinite;
  background-size: 200% 100%;
  z-index: 1;
  border-radius: inherit;
  opacity: 0.6;
  pointer-events: none;
}
